@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1297f0;
    background-image: url(./paigina.jpg);
    background-size: cover;
}



#placa{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  
}

.placa{
    width: 180px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
}


.titulo {
    font-family: 'Poppins', sans-serif;
    color: rgb(19, 4, 83);
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
  }
  
  .subtitulo {
    font-family: 'Poppins', sans-serif;
    color: rgb(86, 3, 97);
    font-size: 20px;
  }
  .subsubtitulo {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
